<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-jeesperon/blob/main/Act1_Sem2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Módulo 4 - Curso IBM

## Files

###Leer archivos y aplicar métodos

In [29]:
#Se usa esta importación porque se está trabajando de forma no local, de acuerdo a las notas del Network Lab.

import urllib.request
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt'
filename = 'Example1.txt'
urllib.request.urlretrieve(url, filename)
# Read the Example1.txt
example1 = "Example1.txt"
file1 = open(example1, "r") #se usa r para lectura, se usa w para escritura 
file1.name

'Example1.txt'

In [30]:
file1.mode #toda vez que se tiene el archivo, se pueden aplicar diversos métodos para ver los atributos del archivo, por ejemplo, el modo

'r'

In [31]:
# Read the file

FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [32]:
# Print the file with '\n' as a new line

print(FileContent)

This is line 1
This is line 2
This is line 3

In [33]:
# Type of file content

type(FileContent)

str

In [34]:
# Close file after finish

file1.close()

In [35]:
# Open file using with, esta forma de abrir un archivo, nos garantiza que después de aplicar los métodos deseados, el archivo se cerrará

with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

This is line 1
This is line 2
This is line 3

In [36]:
# Verify if the file is closed

file1.closed

True

In [37]:
# See the content of file

print(FileContent)

This is line 1
This is line 2
This is line 3

In [38]:
# Read first four characters

with open(example1, "r") as file1:
    print(file1.read(4))

This

In [39]:
# Read certain amount of characters, la aplicación de este método de forma continua
#toma el contador después de donde lee la primera instrucción., es decir, los primeros 4 caracteres,
#después los siguientes 4, y así sucesivamente

with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

In [40]:
with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

This is line 1

This
is line 2

In [41]:
# Read one line

with open(example1, "r") as file1:
    print("first line: " + file1.readline())
    print("second line: " + file1.readline())
    print("third line: " + file1.readline())

first line: This is line 1

second line: This is line 2

third line: This is line 3

In [42]:
#la diferencia entre read() y readline() es que el primero regresa los caracteres deseados, el segundo sólo
#esa fila
with open(example1, "r") as file1:
    print(file1.readline(20)) # does not read past the end of line
    print(file1.read(20)) # Returns the next 20 chars

This is line 1

This is line 2
This

In [43]:
# Iterate through the lines

with open(example1,"r") as file1:
        i = 0; #acá se usa un contador para ilustrarlo en el resultado
        for line in file1:
            print("Iteration", str(i), ": ", line) #se hace la relación de lo que se considera como line dentro del objeto file1.
            i = i + 1 #contador que permite seguir con el loop for

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

### Guardar un archivo como lista y hacer métodos de lista con ello

In [44]:
# Read all lines and save as a list

with open(example1, "r") as file1:
    FileasList = file1.readlines()

In [45]:
# Print the first line

print(FileasList[0])
print(FileasList[1])
print(FileasList[::1])

This is line 1

This is line 2

['This is line 1 \n', 'This is line 2\n', 'This is line 3']

### Escribir en archivos, métodos 'w', 'r+', etc

In [46]:
exmp2 = 'Example2.txt' #estoy creando un archivo
with open(exmp2, 'w') as writefile: #estoy escribiendo sobre el archivo al indicarlo con w
    writefile.write("This is line A") #con el método open, al escribir en el archivo, se cierra cuando se ejecuta todo

with open(exmp2, 'r') as testwritefile: 
    print(testwritefile.read())

This is line A

In [47]:
# Write lines to file, al escribir múltiples líneas de texto, se hace usando el método obj.write()

with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [48]:
#una lista se puede escribir usando loops
Lines = ["pepe pecas pica papas\n", "con un pico pica papas\n", "pepe pecas\n"] #la lista a usar está fuera del método y del loop
with open('Example2.txt', 'w') as writefile:
    for line in Lines: #se le llama a cada elemento de Lines
        print(line) #que se imprima
        writefile.write(line) #y que se escriba en el objeto writefile que es nuestro archivo

pepe pecas pica papas

con un pico pica papas

pepe pecas

In [49]:
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read()) #se valida que se ha guardado la información

pepe pecas pica papas
con un pico pica papas
pepe pecas

In [50]:
#Al usar el método 'w' se sobreescribe el archivo, no se genera otro y se borra lo anterior.
with open('Example2.txt', 'w') as writefile:
    writefile.write("Overwrite\n")
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite

In [51]:
#para evitar perder información de nueva escritura, se usa el método append, 'a'
with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite
This is line C
This is line D
This is line E

It's fairly ineffecient to open the file in **a** or **w** and then reopening it in **r** to read any lines. Luckily we can access the file in the following modes:

*   **r+** : Reading and writing. Cannot truncate the file.
*   **w+** : Writing and reading. Truncates the file.
*   **a+** : Appending and Reading. Creates a new file, if none exists.

Es importante resaltar que cuando usamos los métodos anteriores relacionados a la escritura o lectura, son puntos absolutos en donde se encuentra el cursor al terminar o empezar una función. Por ende los siguientes métodos ayudan a ubicarnos en el plano del archivo.

*   <code>.tell()</code> - returns the current position in bytes
*   <code>.seek(offset,from)</code> - changes the position by 'offset' bytes with respect to 'from'. From can take the value of 0,1,2 corresponding to beginning, relative to current position and end

In [52]:
  with open('Example2.txt', 'a+') as testwritefile:
    print("Initial Location: {}".format(testwritefile.tell())) #me está devolviendo el valor al final en bytes
    
    data = testwritefile.read() #validación de que no hay más información por leer.
    if (not data):  #empty strings return false in python
            print('Read nothing') 
    else: 
            print(testwritefile.read())
            
    testwritefile.seek(0,0) # move 0 bytes from beginning.
    
    print("\nNew Location : {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data):#como hay datos al estar en la posición 0,0, elige la opción else. 
            print('Read nothing') 
    else: 
            print(data)
    
    print("Location after read: {}".format(testwritefile.tell()) )

Initial Location: 55
Read nothing

New Location : 0
Overwrite
This is line C
This is line D
This is line E

Location after read: 55

Finally, a note on the difference between **w+** and **r+**. Both of these modes allow access to read and write methods, however, opening a file in **w+** overwrites it and deletes all pre-existing data. <br>
To work with a file on existing data, use **r+** and **a+**. While using **r+**, it can be useful to add a <code>.truncate()</code> method at the end of your data. This will reduce the file to your data and delete everything that follows. <br>
In the following code block, Run the code as it is first and then run it with the <code>.truncate()</code>.

In [53]:
with open('Example2.txt', 'r+') as testwritefile:
    #data = testwritefile.readlines()
    testwritefile.seek(0,0) #write at beginning of file
   
    testwritefile.write("Line 1" + "\n")
    testwritefile.write("Line 2" + "\n")
    testwritefile.write("Line 3" + "\n")
    testwritefile.write("finished\n")
    #Unomment the line below
    testwritefile.truncate()
    testwritefile.seek(0,0)
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished

###Copy a file

In [54]:
# Copy file to another

with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:#llamamos a la variable que guarda el valor inicial que vamos a copiar
                writefile.write(line)#indicamos que deseamos cada valor line de readfile en el nuevo archivo con el método write

# Verify if the copy is successfully executed

with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished

### Excercise

Your local university's Raptors fan club maintains a register of its active members on a .txt document. Every month they update the file by removing the members who are not active. You have been tasked with automating this with your Python skills. <br>
Given the file `currentMem`, Remove each member with a 'no' in their Active column. Keep track of each of the removed members and append them to the `exMem` file. Make sure that the format of the original files in preserved.   (*Hint: Do this by reading/writing whole lines and ensuring the header remains* ) <br>
Run the code block below prior to starting the exercise. The skeleton code has been provided for you. Edit only the `cleanFiles` function.

In [55]:
#Run this prior to starting the exercise
from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

In [56]:
def cleanFiles(currentMem,exMem):
    with open(currentMem,'r+') as writeFile: #se abren los dos archivos
        with open(exMem,'a+') as appendFile:
            #get the data
            writeFile.seek(0)
            members = writeFile.readlines() #se cambia el archivo a una lista
            #remove header
            header = members[0]
            members.pop(0)
                
            inactive = [member for member in members if ('no' in member)]
            '''
            The above is the same as 

            for member in members:
            if 'no' in member:
                inactive.append(member)
            '''
            #go to the beginning of the write file
            writeFile.seek(0) 
            writeFile.write(header) #acá se pone nuevamente el encabezado del archivo
            for member in members:
                if (member in inactive):
                    appendFile.write(member) #acá se escriben los nombres de los casos inactivos
                else:
                    writeFile.write(member) #en su defecto se escriben los casos activos     
            writeFile.truncate()
                
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)

# code to help you see the files

#headers = "Membership No  Date Joined  Active  \n"

with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    25771      2017-11-8    yes
    30595      2020-10-1    yes
    63015      2017-1-6     yes
    80236      2017-3-7     yes
    36979      2016-9-12    yes
    29896      2020-8-2     yes
    16469      2016-4-22    yes
    69168      2016-12-16   yes
    83262      2020-3-19    yes
    31915      2016-7-23    yes
    44405      2020-2-9     yes

Inactive Members:


Membership No  Date Joined  Active
    38631      2020-6-11    no
    68163      2018-8-4     no
    23528      2019-2-16    no
    51699      2020-7-6     no
    49275      2016-5-9     no
    35237      2020-12-10   no
    20768      2020-5-10    no
    93054      2020-4-6     no
    20230      2015-11-18   no
    74377      2020-5-14    no
    83798      2020-12-15   no
    10112      2018-3-12    no

## Pandas

### Leer archivos con Pandas

In [103]:
import pandas as pd

csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv'
df = pd.read_csv(csv_path)
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

### Seleccionar columnas de un DataFrame

In [104]:
artist_name=df[['Artist']] #si se usa un solo corchete, la información se obtiene como objeto, no como dataframe
artist_name

            Artist
0  Michael Jackson
1            AC/DC
2       Pink Floyd
3  Whitney Houston
4        Meat Loaf
5           Eagles
6         Bee Gees
7    Fleetwood Mac

In [105]:
multiple_columns = df[['Album','Genre','Rating']]
multiple_columns

                             Album                        Genre  Rating
0                         Thriller               pop, rock, R&B    10.0
1                    Back in Black                    hard rock     9.5
2        The Dark Side of the Moon             progressive rock     9.0
3                    The Bodyguard               R&B, soul, pop     8.5
4                  Bat Out of Hell  hard rock, progressive rock     8.0
5  Their Greatest Hits (1971-1975)   rock, soft rock, folk rock     7.5
6             Saturday Night Fever                        disco     7.0
7                          Rumours                    soft rock     6.5

### Función iloc

One way to access unique elements is the <code>iloc</code> method, where you can access the 1st row and the 1st column as follows:

In [106]:
# Access the value on the first row and the first column

df.iloc[0, 0]

'Michael Jackson'

In [107]:
# Access the value on the second row and the first column

df.iloc[0,1]

'Thriller'

In [108]:
# Access the value on the first row and the third column

df.iloc[0,2]

1982

In [109]:
# Access the value on the second row and the third column
df.iloc[1,2]

1980

### Función Loc

In [110]:
# Access the column using the name

df.loc[1, 'Artist']

'AC/DC'

In [111]:
df.loc[0, 'Released']

1982

In [112]:
# Slicing the dataframe

df.iloc[0:4, 0:3] #le estoy indicando a python que me traiga los primeros 4 datos con sus tres columnas de información

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973
3  Whitney Houston              The Bodyguard      1992

In [113]:
# Slicing the dataframe using name

df.loc[0:2, 'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

### Valores únicos en un DataFrame, filtros y guardar

In [117]:
df['Released'].unique() #aplicando el método unique encontraremos los valores únicos una columna

array([1982, 1980, 1973, 1992, 1977, 1976])

In [118]:
df['Released']>=1980

0     True
1     True
2    False
3     True
4    False
5    False
6    False
7    False
Name: Released, dtype: bool

In [120]:
df_x1=df[df['Released']>=1980]
df_x1.to_csv('songs_after_1980.csv')

### Quiz on Pandas

Use a variable <code>q</code> to store the column <b>Rating</b> as a dataframe

In [68]:
# Write your code below and press Shift+Enter to execute
q=df[['Rating']]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

Assign the variable <code>q</code> to the dataframe that is made up of the column <b>Released</b> and <b>Artist</b>:

In [69]:
# Write your code below and press Shift+Enter to execute
q=df[['Released','Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

Access the 2nd row and the 3rd column of <code>df</code>:

In [70]:
y=df.iloc[1,2] #considerar siempre que es menos 1 cuando mandamos a llamar por el número de fila o columna
y

1980

Use the following list to convert the dataframe index <code>df</code> to characters and assign it to <code>df_new</code>; find the element corresponding to the row index <code>a</code> and column  <code>'Artist'</code>. Then select the rows <code>a</code> through <code>d</code> for the column  <code>'Artist'</code>

In [71]:
new_index=['a','b','c','d','e','f','g','h']
df_new=df
df_new.index=new_index
df_new.loc['a', 'Artist'] #se usa iloc sólo cuando tenemos los índices claros de sus ubicaciones
df_new.loc['a':'d', 'Artist'] #se usa loc sólo cuando tenemos los nombres de columnas e índices

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object

### Quiz on Pandas 2

You will use the dataframe <code>df</code> for the following:

In [72]:
df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})
df

    a   b
0  11  21
1  21  22
2  31  23

1.  Display the first three rows:

In [73]:
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

2.  Obtain column  <code> 'a' </code>:

In [74]:
df['a']

0    11
1    21
2    31
Name: a, dtype: int64

### Practice Lab

In [75]:
#Define a dictionary 'x'

x = {'Name': ['Rose','John', 'Jane', 'Mary'],
     'ID': [1, 2, 3, 4],
     'Department': ['Architect Group', 'Software Group', 'Design Team', 'Infrastructure'], 
      'Salary':[100000, 80000, 50000, 60000]}

#casting the dictionary to a DataFrame
df = pd.DataFrame(x)

#display the result df
df

   Name  ID       Department  Salary
0  Rose   1  Architect Group  100000
1  John   2   Software Group   80000
2  Jane   3      Design Team   50000
3  Mary   4   Infrastructure   60000

In [76]:
#Retrieving the "ID" column and assigning it to a variable x
x = df[['ID']]
x

   ID
0   1
1   2
2   3
3   4

In [77]:
#check the type of x
type(x)

pandas.core.frame.DataFrame

In [78]:
#Retrieving the Department, Salary and ID columns and assigning it to a variable z

z = df[['Department','Salary','ID']]
z

        Department  Salary  ID
0  Architect Group  100000   1
1   Software Group   80000   2
2      Design Team   50000   3
3   Infrastructure   60000   4

##### Problem 1: Create a dataframe to display the result as below:

<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/Student_data.png" width="300" alt="Student Data"  />
</center>

In [81]:
#write your code here
df_practice= {'Student': ['David','Samuel','Terry','Evan'],
              'Age': ['27','24','22','32'],
              'Country': ['UK','Canada','China','USA'],
              'Course': ['Python','Data Sources','Machine Learning','Web Development'],
              'Marks': ['85','72','89','76']}
dfexample= pd.DataFrame(df_practice)
dfexample.head()

  Student Age Country            Course Marks
0   David  27      UK            Python    85
1  Samuel  24  Canada      Data Sources    72
2   Terry  22   China  Machine Learning    89
3    Evan  32     USA   Web Development    76

##### Problem 2: Retrieve the Marks column and assign it to a variable b

In [82]:
#write your code here
b = dfexample[['Marks']]
b

  Marks
0    85
1    72
2    89
3    76

##### Problem 3: Retrieve the Country and Course columns and assign it to a variable c

In [83]:
#write your code here
c = dfexample[['Country','Course']]
c

  Country            Course
0      UK            Python
1  Canada      Data Sources
2   China  Machine Learning
3     USA   Web Development

In [84]:
# Get the Name column as a series Object

x = df['Name']
x

0    Rose
1    John
2    Jane
3    Mary
Name: Name, dtype: object

In [85]:
#check the type of x
type(x)

pandas.core.series.Series

### Exercise 2: <code>loc()</code> and <code>iloc()</code> functions

<code>loc()</code> is a label-based data selecting method which means that we have to pass the name of the row or column that we want to select. This method includes the last element of the range passed in it.

Simple syntax for your understanding:

*   loc\[row_label, column_label]

<code>iloc()</code> is an indexed-based selecting method which means that we have to pass integer index in the method to select a specific row/column. This method does not include the last element of the range passed in it.

Simple syntax for your understanding:

*   iloc\[row_index, column_index]

<h4 id="data">Let us see some examples on the same.</h4>

In [86]:
# Access the value on the first row and the first column

df.iloc[0, 0]

'Rose'

In [87]:
# Access the value on the first row and the third column

df.iloc[0,2]

'Architect Group'

In [88]:
# Access the column using the name

df.loc[0, 'Salary']

100000

In [89]:
df2=df
df2=df2.set_index("Name")

In [90]:
#To display the first 5 rows of new dataframe
df2.head()

      ID       Department  Salary
Name
Rose   1  Architect Group  100000
John   2   Software Group   80000
Jane   3      Design Team   50000
Mary   4   Infrastructure   60000

In [91]:
#Now, let us access the column using the name
df2.loc['Jane', 'Salary']

50000

Use the <code>loc()</code> function,to get the Department of Jane in the newly created dataframe df2.

In [92]:
#write your code here
df2.loc['Jane','Department']

'Design Team'

Use the <code>iloc()</code> function,to get the Salary of Mary in the newly created dataframe df2.

In [93]:
#write your code here
df2.loc['Mary','Salary']

60000

### Exercise 3: Slicing

Slicing uses the \[] operator to select a set of rows and/or columns from a DataFrame.

To slice out a set of rows, you use this syntax: data\[start:stop],

here the start represents the index from where to consider, and stop represents the index one step BEYOND the row you want to select. You can perform slicing using both the index and the name of the column.

> NOTE: When slicing in pandas, the start bound is included in the output.

So if you want to select rows 0, 1, and 2 your code would look like this: df.iloc\[0:3].

It means you are telling Python to start at index 0 and select rows 0, 1, 2 up to but not including 3.

> NOTE: Labels must be found in the DataFrame or you will get a KeyError.

Indexing by labels(i.e. using <code>loc()</code>) differs from indexing by integers (i.e. using <code>iloc()</code>). With <code>loc()</code>, both the start bound and the stop bound are inclusive. When using <code>loc()</code>, integers can be used, but the integers refer to the index label and not the position.

For example, using <code>loc()</code> and select 1:4 will get a different result than using <code>iloc()</code> to select rows 1:4.

<h4 id="data">We can also select a specific data value using a row and column location within the DataFrame and iloc indexing.

In [94]:
# let us do the slicing using old dataframe df

df.iloc[0:2, 0:3]

   Name  ID       Department
0  Rose   1  Architect Group
1  John   2   Software Group

In [95]:
#let us do the slicing using loc() function on old dataframe df where index column is having labels as 0,1,2
df.loc[0:2,'ID':'Department']

   ID       Department
0   1  Architect Group
1   2   Software Group
2   3      Design Team

In [96]:
#let us do the slicing using loc() function on new dataframe df1 where index column is Name having labels: Rose, John and Jane
df2.loc['Rose':'Jane', 'ID':'Department']

      ID       Department
Name
Rose   1  Architect Group
John   2   Software Group
Jane   3      Design Team

using <code>loc()</code> function, do slicing on old dataframe df to retrieve the Name, ID and department of index column having labels as 2,3

In [97]:
# Write your code below and press Shift+Enter to execute
df.loc[2:3,'Name':'Department']

   Name  ID      Department
2  Jane   3     Design Team
3  Mary   4  Infrastructure