<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-jeesperon/blob/main/assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Module 1 - Python Basics ***

## **First Program**

In [ ]:
print('assignment01 for GitJobish03 and edited in git, and 18')
print("hola mundo")

assignment01 for GitJobish03 and edited in git, and 18
hola mundo

La función print() permite mostrar el resultado de una operación

In [ ]:
print("Hola Mundo")

Hola Mundo

Cuando usamos el comando \n entre dos caracteres entrecomillados, hace un salto de línea

In [ ]:
print("Hello\nWorld")

Hello
World

Los comentarios se guardan con el símbolo # al principio de la oración

In [ ]:
#Los comentarios se guardan de esta manera

## **Types**

Se pueden encontrar los tipos de datos con la función `type`.

In [ ]:
type("Hello World")

str

Type Casting
Find the type of the following using the <code>type</code> command

In [ ]:
type("1.1")

str

<h3>Is a number always a number?
</h3>
Cast the following to an <code>int</code> and then to a <code>bool</code>:

In [ ]:
print(int("1"))
print(bool("1"))

print(bool("1"))

1
True
True

## **Exercise: Expression and Variables in Python**

<p>What is the value of <code>x</code> where <code>x = 3 + 2 * 2</code></p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
x=3+2*2
x

7

<p>What is the value of <code>y</code> where <code>y = (3 + 2) * 2</code>?</p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
y=(3+2)*2
y

10

<p>What is the value of <code>z</code> where <code>z = x + y</code>?</p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
z=x+y
z

17

## **What are strings?**

In [ ]:
# Use quotation marks for defining string

"Michael Jackson"

'Michael Jackson'

In [ ]:
# Use single quotation marks for defining string

'Michael Jackson'

'Michael Jackson'

In [ ]:
# Digitals and spaces in string

'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

In [ ]:
# Special characters in string

'@#2_#]&*^%$'

'@#2_#]&*^%$'

In [ ]:
# Print the string

print("hello!")

hello!

In [ ]:
# Assign string to variable

name = "Michael Jackson"
name

'Michael Jackson'

### Index

Because indexing starts at 0, it means the first index is on the index 0.

In [ ]:
# Print the first element in the string

print(name[0])

M

In [ ]:
# Print the element on index 6 in the string

print(name[6])

l

In [ ]:
# Print the element on the 13th index in the string

print(name[13])

o

The last element is given by the index -1:

In [ ]:
# Print the last element in the string

print(name[-1])

n

In [ ]:
# Print the first element in the string

print(name[-15])

M

In [ ]:
# Find the length of string

len("Michael Jackson")

15

In [ ]:
len(name)

15

### **Slicing**

In [ ]:
#What is the result of the following line of code:
"0123456".find('1')

1

In [ ]:
Letters="ABCDEFGHIJK"
Letters[0:4]

'ABCD'

Use a stride value of 2 on the following string :

In [ ]:
Good="GsoAo+d"
Good[::2]

'Good'

Convert the following string to uppercase using the method <code>upper()</code>:

In [ ]:
"uppercase"
"uppercase".upper()

'UPPERCASE'

In [ ]:
# Take the slice on variable name with only index 0 to index 3

name[0:4]

'Mich'

In [ ]:
# Take the slice on variable name with only index 8 to index 11

name[8:12]

'Jack'

### Stride

In [ ]:
# Get every second element. The elments on index 1, 3, 5 ...
name="Michael Jackson"
name[::2]

'McalJcsn'

We can also incorporate slicing  with the stride. In this case, we select the first five elements and then use the stride:

In [ ]:
# Get every second element in the range from index 0 to index 4

name[0:5:2]

'Mca'

### Concatenate Strings

We can concatenate or combine strings by using the addition symbols, and the result is a new string that is a combination of both:

In [ ]:
# Concatenate two strings

statement = name + "is the best"
statement

'Michael Jacksonis the best'

In [ ]:
# Print the string for 3 times

3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

In [ ]:
# Concatenate strings

name = "Michael Jackson"
name = name + " is the best"
name

'Michael Jackson is the best'

### Scape Sequences

Back slashes represent the beginning  of escape sequences. Escape sequences represent strings that may be difficult to input. For example, back slash "n" represents a new line. The output is given by a new line after the back slash "n" is encountered:

In [ ]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [ ]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [ ]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [ ]:
# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

### String Operations

In [ ]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [ ]:
# Replace the old substring with the new target substring is the segment has been found in the string

a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

In [ ]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "Michael Jackson"
name.find('el')

5

In [ ]:
# Find the substring in the string.

name.find('Jack')

8

In [ ]:
# If cannot find the substring in the string

name.find('Jasdfasdasdf')

-1

## Quiz On Strings

What is the value of the variable <code>a</code> after the following code is executed?

In [ ]:
# Write your code below and press Shift+Enter to execute 

a = "1"
a

'1'

What is the value of the variable <code>b</code> after the following code is executed?

In [ ]:
# Write your code below and press Shift+Enter to execute

b = "2"
b

'2'

What is the value of the variable <code>c</code> after the following code is executed?

In [ ]:
# Write your code below and press Shift+Enter to execute 

c = a + b
c

'12'

Consider the variable <code>d</code> use slicing to print out the first three elements:

In [ ]:
# Write your code below and press Shift+Enter to execute

d = "ABCDEFG"
print(d[0:3])

ABC

Use a stride value of 2 to print out every second character of the string <code>e</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute

e = 'clocrkr1e1c1t'
print(e[::2])

correct

Print out a backslash:

In [ ]:
# Write your code below and press Shift+Enter to execute
print(r"\ ")

\

Convert the variable <code>f</code> to uppercase:

In [ ]:
# Write your code below and press Shift+Enter to execute

f = "You are wrong"
f.upper()

'YOU ARE WRONG'

Consider the variable g, and find the first index of the sub-string snow:

In [ ]:
# Write your code below and press Shift+Enter to execute

g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
g.find("snow")

95

In the variable g, replace the sub-string Mary with Bob:

In [ ]:
g.replace("Mary","Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

In [ ]:
name="Liz"
name[:2]

'Li'

# Module 2 - Python Data Structures

## Tuples & Lists

Create a tuple  <code> (0,1,2,3) </code> and assign it to variable <code>A</code>:

In [ ]:
A=(0,1, 2, 3)
print(A)

(0, 1, 2, 3)

Find the first two elements of tuple <code> A </code>

In [ ]:
A[0:2]

(0, 1)

For the next few questions, you will need the following list:

In [ ]:
B=["a","b","c"]

Find the first two elements of the list <code> B</code>:

In [ ]:
B[:2]

['a', 'b']

Change the first element of the list to an uppercase <code>"A"</code>.

In [ ]:
B[0]="A"
print(B)

['A', 'b', 'c']

### Quiz on Tuples

Consider the following tuple:

In [ ]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

Find the length of the tuple, <code>genres_tuple</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute
len(genres_tuple)

8

Access the element, with respect to index 3:

In [ ]:
# Write your code below and press Shift+Enter to execute
genres_tuple[3]

'hard rock'

Find the first two elements of the tuple <code>genres_tuple</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute
genres_tuple[:2]

('pop', 'rock')

Find the first index of <code>"disco"</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute
genres_tuple.index("disco")

7

Generate a sorted List from the Tuple <code>C_tuple=(-5, 1, -3)</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute
c_tuple=(-5,1,-3)
c_list=sorted(c_tuple)
c_list
print(type(c_list))

<class 'list'>

### Quiz on List

Create a list <code>a_list</code>, with the following elements <code>1</code>, <code>hello</code>, <code>\[1,2,3]</code> and <code>True</code>.

In [ ]:
# Write your code below and press Shift+Enter to execute
a_list=[1,"hello",[1,2,3],True]
a_list

[1, 'hello', [1, 2, 3], True]

Find the value stored at index 1 of <code>a_list</code>.

In [ ]:
# Write your code below and press Shift+Enter to execute
a_list[0]

1

Retrieve the elements stored at index 1, 2 and 3 of <code>a_list</code>.

In [ ]:
# Write your code below and press Shift+Enter to execute
a_list[1:4]

['hello', [1, 2, 3], True]

Concatenate the following lists <code>A = \[1, 'a']</code> and <code>B = \[2, 1, 'd']</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute
A=[1,"a"]
B=[2,1,"d"]
#A.extend(B)
print(A)
A+B

[1, 'a']

[1, 'a', 2, 1, 'd']

## Sets

Cast a List to a Set

In [ ]:
to_set=['A','B','C','A','B','C']
set(to_set)

{'A', 'B', 'C'}

Add the string 'D' to the set S.

In [ ]:
S={'A','B','C'}
S.add("D")
S

{'A', 'B', 'C', 'D'}

Find the intersection of set A and B.

In [ ]:
A={1,2,3,4,5}
B={1,3,9, 12}
print(A.intersection(B))
print(A&B)

{1, 3}
{1, 3}

### Quiz on Sets

Convert the list <code>\['rap','house','electronic music', 'rap']</code> to a set:

In [ ]:
# Write your code below and press Shift+Enter to execute
set(["rap","house","electronic music","rap"])

{'electronic music', 'house', 'rap'}

Consider the list <code>A = \[1, 2, 2, 1]</code> and set <code>B = set(\[1, 2, 2, 1])</code>, does <code>sum(A) == sum(B)</code>?

In [ ]:
# Write your code below and press Shift+Enter to execute
A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))

the sum of A is: 6
the sum of B is: 3

Create a new set <code>album_set3</code> that is the union of <code>album_set1</code> and <code>album_set2</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3=album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

Find out if <code>album_set1</code> is a subset of <code>album_set3</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute
album_set1.issubset(album_set3)

True

## Dictionaries

In [ ]:
#Usando el diccionario:
D={'a':0,'b':1,'c':2}

In [ ]:
#encontrar el valor de 'a'
D["a"]

0

In [ ]:
#find the keys of dict D
D.keys()

dict_keys(['a', 'b', 'c'])

### Quiz on Dictionaries

In [ ]:
# Question sample dictionary

soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

a) In the dictionary <code>soundtrack_dic</code> what are the keys ?

In [ ]:
# Write your code below and press Shift+Enter to execute
soundtrack_dic.keys()

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

b) In the dictionary <code>soundtrack_dic</code> what are the values ?

In [ ]:
# Write your code below and press Shift+Enter to execute
soundtrack_dic.values()

dict_values(['1992', '1977'])

The Albums <b>Back in Black</b>, <b>The Bodyguard</b> and <b>Thriller</b> have the following music recording sales in millions 50, 50 and 65 respectively:

a) Create a dictionary <code>album_sales_dict</code> where the keys are the album name and the sales in millions are the values.

In [ ]:
# Write your code below and press Shift+Enter to execute
album_sales_dict={"Back in Black":"50M","The Bodyguard":"50M","Thriller":"65M"}
album_sales_dict

{'Back in Black': '50M', 'The Bodyguard': '50M', 'Thriller': '65M'}

b) Use the dictionary to find the total sales of <b>Thriller</b>:

In [ ]:
# Write your code below and press Shift+Enter to execute
album_sales_dict["Thriller"]

'65M'

c) Find the names of the albums from the dictionary using the method <code>keys()</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute
album_sales_dict.keys()

dict_keys(['Back in Black', 'The Bodyguard', 'Thriller'])

d) Find the values of the recording sales from the dictionary using the method <code>values</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute
album_sales_dict.values()

dict_values(['50M', '50M', '65M'])

#Module 3 - Python programming fundamentals

## Conditions & Branchings

Find the value of i that produces a True:

In [136]:
i=1
i!=0

True

Find the value of <code>x</code> that prints the statement <code>"this is a"</code>:

In [137]:
x = "a"
if(x=='a'):
    print("this is a")
else:
    print("this is  not a")

this is a

Find the value of <code>y</code> that produces a <code>True</code> statement:

In [138]:
    y=5
    x=1
    x>0 and y<10

True

Write an if statement to determine if an album had a rating greater than 8. Test it using the rating for the album <b>“Back in Black”</b> that had a rating of 8.5. If the statement is true print "This album is Amazing!"

In [139]:
# Write your code below and press Shift+Enter to execute
rating=8.5
if rating>8:
    print("This album is Amazing!")

This album is Amazing!

Write an if-else statement that performs the following. If the rating is larger then eight print “this album is amazing”. If the rating is less than or equal to 8 print “this album is ok”.

In [140]:
# Write your code below and press Shift+Enter to execute
rating=9
if rating>8:
    print("this album is amazing")
else:
    print("this album is ok")

this album is amazing

Write an if statement to determine if an album came out before 1980 or in the years: 1991 or 1993. If the condition is true print out the year the album came out.

In [141]:
# Write your code below and press Shift+Enter to execute
album_yr=1990
if album_yr<1980 or album_yr==1991 or album_yr==1993:
    print("the year album is:",album_yr)
print("it's an album out of those years")

it's an album out of those years