<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-jeesperon/blob/main/assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Module 1 - Python Basics ***

## **First Program**

In [ ]:
print('assignment01 for GitJobish03 and edited in git, and 18')
print("hola mundo")

assignment01 for GitJobish03 and edited in git, and 18
hola mundo

La función print() permite mostrar el resultado de una operación

In [ ]:
print("Hola Mundo")

Hola Mundo

Cuando usamos el comando \n entre dos caracteres entrecomillados, hace un salto de línea

In [ ]:
print("Hello\nWorld")

Hello
World

Los comentarios se guardan con el símbolo # al principio de la oración

In [ ]:
#Los comentarios se guardan de esta manera

## **Types**

Se pueden encontrar los tipos de datos con la función `type`.

In [ ]:
type("Hello World")

str

Type Casting
Find the type of the following using the <code>type</code> command

In [ ]:
type("1.1")

str

<h3>Is a number always a number?
</h3>
Cast the following to an <code>int</code> and then to a <code>bool</code>:

In [ ]:
print(int("1"))
print(bool("1"))

print(bool("1"))

1
True
True

## **Exercise: Expression and Variables in Python**

<p>What is the value of <code>x</code> where <code>x = 3 + 2 * 2</code></p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
x=3+2*2
x

7

<p>What is the value of <code>y</code> where <code>y = (3 + 2) * 2</code>?</p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
y=(3+2)*2
y

10

<p>What is the value of <code>z</code> where <code>z = x + y</code>?</p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
z=x+y
z

17

## **What are strings?**

In [ ]:
# Use quotation marks for defining string

"Michael Jackson"

'Michael Jackson'

In [ ]:
# Use single quotation marks for defining string

'Michael Jackson'

'Michael Jackson'

In [ ]:
# Digitals and spaces in string

'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

In [ ]:
# Special characters in string

'@#2_#]&*^%$'

'@#2_#]&*^%$'

In [ ]:
# Print the string

print("hello!")

hello!

In [ ]:
# Assign string to variable

name = "Michael Jackson"
name

'Michael Jackson'

### Index

Because indexing starts at 0, it means the first index is on the index 0.

In [ ]:
# Print the first element in the string

print(name[0])

M

In [ ]:
# Print the element on index 6 in the string

print(name[6])

l

In [ ]:
# Print the element on the 13th index in the string

print(name[13])

o

The last element is given by the index -1:

In [ ]:
# Print the last element in the string

print(name[-1])

n

In [ ]:
# Print the first element in the string

print(name[-15])

M

In [ ]:
# Find the length of string

len("Michael Jackson")

15

In [ ]:
len(name)

15

### **Slicing**

In [ ]:
#What is the result of the following line of code:
"0123456".find('1')

1

In [ ]:
Letters="ABCDEFGHIJK"
Letters[0:4]

'ABCD'

Use a stride value of 2 on the following string :

In [ ]:
Good="GsoAo+d"
Good[::2]

'Good'

Convert the following string to uppercase using the method <code>upper()</code>:

In [ ]:
"uppercase"
"uppercase".upper()

'UPPERCASE'

In [ ]:
# Take the slice on variable name with only index 0 to index 3

name[0:4]

'Mich'

In [ ]:
# Take the slice on variable name with only index 8 to index 11

name[8:12]

'Jack'

### Stride

In [ ]:
# Get every second element. The elments on index 1, 3, 5 ...
name="Michael Jackson"
name[::2]

'McalJcsn'

We can also incorporate slicing  with the stride. In this case, we select the first five elements and then use the stride:

In [ ]:
# Get every second element in the range from index 0 to index 4

name[0:5:2]

'Mca'

### Concatenate Strings

We can concatenate or combine strings by using the addition symbols, and the result is a new string that is a combination of both:

In [ ]:
# Concatenate two strings

statement = name + "is the best"
statement

'Michael Jacksonis the best'

In [ ]:
# Print the string for 3 times

3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

In [ ]:
# Concatenate strings

name = "Michael Jackson"
name = name + " is the best"
name

'Michael Jackson is the best'

### Scape Sequences

Back slashes represent the beginning  of escape sequences. Escape sequences represent strings that may be difficult to input. For example, back slash "n" represents a new line. The output is given by a new line after the back slash "n" is encountered:

In [ ]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [ ]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [ ]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [ ]:
# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

### String Operations

In [ ]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [ ]:
# Replace the old substring with the new target substring is the segment has been found in the string

a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

In [ ]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "Michael Jackson"
name.find('el')

5

In [ ]:
# Find the substring in the string.

name.find('Jack')

8

In [ ]:
# If cannot find the substring in the string

name.find('Jasdfasdasdf')

-1

## Quiz On Strings

What is the value of the variable <code>a</code> after the following code is executed?

In [ ]:
# Write your code below and press Shift+Enter to execute 

a = "1"
a

'1'

What is the value of the variable <code>b</code> after the following code is executed?

In [ ]:
# Write your code below and press Shift+Enter to execute

b = "2"
b

'2'

What is the value of the variable <code>c</code> after the following code is executed?

In [ ]:
# Write your code below and press Shift+Enter to execute 

c = a + b
c

'12'

Consider the variable <code>d</code> use slicing to print out the first three elements:

In [ ]:
# Write your code below and press Shift+Enter to execute

d = "ABCDEFG"
print(d[0:3])

ABC

Use a stride value of 2 to print out every second character of the string <code>e</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute

e = 'clocrkr1e1c1t'
print(e[::2])

correct

Print out a backslash:

In [ ]:
# Write your code below and press Shift+Enter to execute
print(r"\ ")

\

Convert the variable <code>f</code> to uppercase:

In [ ]:
# Write your code below and press Shift+Enter to execute

f = "You are wrong"
f.upper()

'YOU ARE WRONG'

Consider the variable g, and find the first index of the sub-string snow:

In [ ]:
# Write your code below and press Shift+Enter to execute

g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
g.find("snow")

95

In the variable g, replace the sub-string Mary with Bob:

In [ ]:
g.replace("Mary","Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

In [ ]:
name="Liz"
name[:2]

'Li'

# Module 2 - Python Data Structures

## Tuples & Lists

Create a tuple  <code> (0,1,2,3) </code> and assign it to variable <code>A</code>:

In [3]:
A=(0,1, 2, 3)
print(A)

(0, 1, 2, 3)

Find the first two elements of tuple <code> A </code>

In [4]:
A[0:2]

(0, 1)

For the next few questions, you will need the following list:

In [5]:
B=["a","b","c"]

Find the first two elements of the list <code> B</code>:

In [6]:
B[:2]

['a', 'b']

Change the first element of the list to an uppercase <code>"A"</code>.

In [7]:
B[0]="A"
print(B)

['A', 'b', 'c']